<div *ngFor="let item of data;" class="example-box">
<p>Title:{{item.title}} </p>
<div>
    <label>
       R3
        <input type="text" [(ngModel)]="item.r3" >
    </label>
    <label>
        RN
        <input type="text" [(ngModel)]='item.rn'>
    </label>
    <label>
       WEB
        <input type="text" [(ngModel)]='item.web'>
    </label>
    <button class="button" (click)= 'updateData(item.title, item.r3, item.rn, item.web)'>Update</button>
    <button class="buttonD" (click)= 'deleteData(item.title)'> Delete</button>
    </div>
</div>